body{
  font-family: 'Courier New';
  font-weight: bolder;
  background-color: #1E1E1E;
  color: white;
}

.cmd-input{
  background-color: #1E1E1E;
  border: none;
  color: white;
  outline: none;
  caret-color: white;
  font-family: 'Courier New';
  font-weight: bolder;
}

.about-me, .help, .social, .projects, .resume{
  list-style-type: none;
}

